.config
*.o
*.pyc

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#
# MacOS directory files
.DS_Store

# eclipse setting
.settings

# Test_app, test_apps project files
**/sdkconfig
**/sdkconfig.old
**/build
**/managed_components
**/dependencies.lock

# Doc build artifacts
**/docs/_build/
**/docs/*/_build/
**/docs/*/doxygen-warning-log.txt
**/docs/*/sphinx-warning-log.txt
**/docs/*/sphinx-warning-log-sanitized.txt
**/docs/**/xml/
**/docs/*/xml_in/
**/docs/**/man/
**/docs/*/doxygen_sqlite3.db

# Downloaded font files
**/docs/_static/DejaVuSans.ttf
**/docs/_static/NotoSansSC-Regular.otf

# gcov coverage reports
*.gcda
*.gcno
coverage.info
coverage_report/

.vscode
