menu "Video Codec Configuration"
    menu "Video Decoder Configuration"
        config VIDEO_DECODER_SW_H264_SUPPORT
            bool "Support SW H264 Decoder"
            default y
            depends on IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32P4
            help
                Enable this option to register software H264 decoder

        config VIDEO_DECODER_SW_MJPEG_SUPPORT
            bool "Support SW MJPEG Decoder"
            default y
            help
                Enable this option to register software MJPEG decoder

        config VIDEO_DECODER_HW_MJPEG_SUPPORT
            bool "Support HW MJPEG Decoder"
            default y
            depends on SOC_JPEG_DECODE_SUPPORTED
            help
                Enable this option to register hardware MJPEG decoder
    endmenu

    menu "Video Encoder Configuration"
        config VIDEO_ENCODER_HW_H264_SUPPORT
            bool "Support HW H264 Encoder"
            default y
            depends on IDF_TARGET_ESP32P4
            help
                Enable this option to register hardware H264 encoder

        config VIDEO_ENCODER_SW_H264_SUPPORT
            bool "Support SW H264 Encoder"
            default y
            depends on IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32P4
            help
                Enable this option to register software H264 encoder

        config VIDEO_ENCODER_HW_MJPEG_SUPPORT
            bool "Support HW MJPEG Encoder"
            default y
            depends on SOC_JPEG_ENCODE_SUPPORTED
            help
                Enable this option to register hardware MJPEG encoder

        config VIDEO_ENCODER_SW_MJPEG_SUPPORT
            bool "Support SW MJPEG Encoder"
            default y
            help
                Enable this option to register software MJPEG encoder
    endmenu

 endmenu
