# Flash setting
CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_SPIRAM_SPEED_200M=y

# If you use serial JTAG turn on this option
#CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Set Slave target type
CONFIG_IDF_SLAVE_TARGET="esp32c6"
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y

# Enable following configuration if support C5 Slave, make sure GPIO matched
# CONFIG_SLAVE_IDF_TARGET_ESP32C5=y
# CONFIG_ESP_HOSTED_SPI_HD_HOST_INTERFACE=y
# CONFIG_ESP_SPI_HD_GPIO_CS=4
# CONFIG_ESP_SPI_HD_GPIO_CLK=5
# CONFIG_ESP_SPI_HD_GPIO_D0=20
# CONFIG_ESP_SPI_HD_GPIO_D1=21
# CONFIG_ESP_SPI_HD_GPIO_D2=22
# CONFIG_ESP_SPI_HD_GPIO_D3=23
# CONFIG_ESP_SPI_HD_GPIO_DATA_READY=32
# CONFIG_ESP_SPI_HD_GPIO_RESET_SLAVE=33
# CONFIG_ESP_SPI_HD_FREQ_ESP32XX=40
# CONFIG_ESP_HOSTED_SPI_HD_PRIV_INTERFACE_4_DATA_LINES=y

CONFIG_EXAMPLE_CONNECT_ETHERNET=y
